@model AssigmentWADPDT.Models.SinhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HinhThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSinhVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
